{% extends "base.html" %}
{% load static %}
{% block title%}Password Reset Form{%endblock%}
{% block head_block %}
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
</script>
{% endblock %}
{% block body_block %}
<div class="container login_form">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-5">
            <div class="jumbotron">
                <h3 class="text-center">Forget Password</h3>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" maxlength="254" required="" placeholder="Your Email Address" id="id_email">
                    </div>
                    {% if error %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">x</button>
                        <strong>{{ error }}</strong>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}